<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="<%= title %>"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= title %>" />
    <meta property="og:url" content="https://react-chatvlv2.herokuapp.com/" />
    <meta property="og:site_name" content="chất vl" />
    <meta property="og:image" content="http://img.blogtamsu.vn/2018/01/207.jpg" />

    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/more.css">

</head>
<body>

<div id="root"></div>

<script src="bundle.js"></script>

<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>