<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">

</head>
<body>

<div id="root"></div>

<script src="bundle.js"></script>

<script type="text/jsx" src="public/js/jquery.js"></script>
<script type="text/jsx" src="public/js/script.js"></script>
<script type="text/jsx" src="public/js/bootstrap.min.js"></script>

</body>
</html>