[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
}

.main-box-reply{
    padding: 6px 0px;
    border-bottom: 1px solid #ddd;
}

#reply, #comment{
    padding:10px;
}
.space40{
    padding-top: 40px;
}